<h2>Create An Event</h2>



<form action="/events/createevent" method="POST" id="form-container">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" placeholder="Name...">

  <label for="imageUrl">Image Url:</label>
  <input id="imageUrl" type="url" name="imageUrl" placeholder="Image link...">

  <label for="textarea">Description:</label>
  <textarea id="description" type="text" name="description" rows="4" cols="50">
Tell us about your event... 
  </textarea>

  <label for="name">Coordinates:</label>
  <input id="latitude" type="text" name="latitude" placeholder="">
  <input id="longtitude" type="text" name="longtitude" placeholder="">

  <div id='map' style='width: 400px; height: 300px;'></div>
  {{!-- <pre id='coordinates' class='coordinates'></pre> --}}

  <!-- Error Msg
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
-->


  <button id="create-event">Create Event</button>

</form>

<script>
  mapboxgl.accessToken = "pk.eyJ1IjoibW9lYmltYXAiLCJhIjoiY2p4dnVuYnFnMDM3YzNocXA2ZWxmNWVmYyJ9.msRoY578HfxGqb0JzGBbhA";
  var latitude = document.getElementById('latitude');
  var longtitude = document.getElementById('longtitude');
  var map = new mapboxgl.Map({
    container: 'map',
    center: [13.373217, 52.506463],
    zoom: 12,
    style: 'mapbox://styles/moebimap/cjxw2mkwv0bio1drm4zitmby9'
  });

  var marker = new mapboxgl.Marker({
    draggable: true
  })
    .setLngLat([0, 0])
    .addTo(map);

  function onDragEnd() {
    var lngLat = marker.getLngLat();
    latitude.style.display = 'block';
    latitude.value = lngLat.lng
    longtitude.style.display = 'block';
    longtitude.value = lngLat.lat;
    const latitudeData = lngLat.lat;
    const longtitudeData = lngLat.lng;

    console.log(latitudeData)

  }

  document.querySelector("#create-event").addEventListener("click", () => {
  })

  marker.on('dragend', onDragEnd);
</script>