<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" placeholder="Name...">

  <label for="lastname">Lastname:</label>
  <input id="lastname" type="text" name="lastname" placeholder="Lastname...">

  <label for="age">Age:</label>
  <input id="age" type="text" name="age" placeholder="Age...">

  <label for="username">Email</label>
  <input id="username" type="text" name="username" placeholder="Email...">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <label for="textarea">Bio:</label>
  <textarea rows="4" cols="50" name="bio">
Tell us about yourself... 
  </textarea>


  {{#if message }}
  <div class=" error-message">{{ message }}</div>
  {{/if}}



  <button type="submit">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>