<div class="event-list-wrapper">
  <img src="{{imageUrl}}" alt="" class="event-list-img">
  <div class="event-detail-wrapper">
    <h1 class="event-name">{{name}}</h1>
    <h3 class="event-role">Role</h3>
    <p class="event-description">{{description}}</p>
  </div>
</div>