<!-- TITLE AND WELCOME MSSG RENDER

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->





<div class="container-fluid main-wrapper swipeview-wrapper">
  <div class="row nav-wrapper justify-content-between align-items-center">
    <div class="p-2">THIS IS SWIPE VIEW</div>
  </div>
  <div id="map" class="row content-wrapper swipe-wrapper"></div>


</div>

<script>


  const events = {{{ JSON events }}}

  events.forEach(event => {
    console.log(event);
  })
</script>