body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

.main-wrapper {
  border: 3px solid black;
  height: 100vh;
}

.nav-wrapper {
  border: 1px solid black;
  height: 10vh;
}

.content-wrapper {
  border: 1px solid black;
  height: 90vh;
}
