body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Merriweather Sans";
}

a {
  color: #59656f;
}

// .main-wrapper {
//   border: 1px solid black;
//   height: 100vh;
// }

.nav-wrapper {
  border: 1px solid black;
  height: 10vh;
}

.content-wrapper {
  border: 1px solid black;
  height: 90vh;
}

//

$nth-nav-item-that-needs-margin-right: 2;
$width-of-navbar-brand-or-logo-in-px: 160px;
$padding-x-for-navbar-brand-or-logo-in-px: 16px;

@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute;
  }
  .navbar-nav .nav-item:nth-child(#{$nth-nav-item-that-needs-margin-right}) {
    margin-right: $width-of-navbar-brand-or-logo-in-px +
      ($padding-x-for-navbar-brand-or-logo-in-px * 2);
  }
}

//

/* TINDER CARD SWIPING EFFECT IMPLEMENTATION */

#swipe-event-container {
  width: 100vh;
  margin: auto !important;
  display: block;
  height: 100vh;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swipe-event-card {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  // padding: 10px;
  width: 100vh;
  height: 100vh;
  // top: 50px;
  // left: 50px;
  position: absolute;
  cursor: hand;
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.swipe-event-photo {
  background: #222;
  width: 100vh;
  height: 100vh;
  display: block;
  // margin-top: 10px;
  // margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

// STYLE FOR NAVBAR

.navbar {
  background-color: #ff812d !important;
}

.navbar a {
  color: white !important;
}

// EVENTS PAGE IMAGE STYLING
.events-page-cards {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.profile-thumbnail {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.profile-photo {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.carousel-card {
  margin: 20px auto;
}

.carousel-card-img {
  object-fit: cover;
  width: 1400px;
  height: 450px;
}

.carousel-inner {
  overflow: hidden;
}

.profile-buttons-div {
  margin-top: 150px;
}

.event-detail-box {
  background-color: rgba(255, 255, 255, 0.5);
}

// STYLES FOR INPUT FORMS

.div-sign-in {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
